<a href="https://colab.research.google.com/github/Jiangjiang-111/-/blob/main/%E7%AC%AC%E4%B8%80%E7%AB%A0%EF%BC%9A%E7%AC%AC%E4%BA%8C%E8%8A%82pandas%E5%9F%BA%E7%A1%80_%E8%AF%BE%E7%A8%8B(done!).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Â§ç‰π†Ôºö**Êï∞ÊçÆÂàÜÊûêÁöÑÁ¨¨‰∏ÄÊ≠•ÔºåÂä†ËΩΩÊï∞ÊçÆÊàë‰ª¨Â∑≤ÁªèÂ≠¶‰π†ÂÆåÊØï‰∫Ü„ÄÇÂΩìÊï∞ÊçÆÂ±ïÁé∞Âú®Êàë‰ª¨Èù¢ÂâçÁöÑÊó∂ÂÄôÔºåÊàë‰ª¨ÊâÄË¶ÅÂÅöÁöÑÁ¨¨‰∏ÄÊ≠•Â∞±ÊòØËÆ§ËØÜ‰ªñÔºå‰ªäÂ§©Êàë‰ª¨Ë¶ÅÂ≠¶‰π†ÁöÑÂ∞±ÊòØ**‰∫ÜËß£Â≠óÊÆµÂê´‰πâ‰ª•ÂèäÂàùÊ≠•ËßÇÂØüÊï∞ÊçÆ**„ÄÇ

## 1 Á¨¨‰∏ÄÁ´†ÔºöÊï∞ÊçÆËΩΩÂÖ•ÂèäÂàùÊ≠•ËßÇÂØü

### 1.4 Áü•ÈÅì‰Ω†ÁöÑÊï∞ÊçÆÂè´‰ªÄ‰πà
Êàë‰ª¨Â≠¶‰π†pandasÁöÑÂü∫Á°ÄÊìç‰ΩúÔºåÈÇ£‰πà‰∏ä‰∏ÄËäÇÈÄöËøápandasÂä†ËΩΩ‰πãÂêéÁöÑÊï∞ÊçÆÔºåÂÖ∂Êï∞ÊçÆÁ±ªÂûãÊòØ‰ªÄ‰πàÂë¢Ôºü

**ÂºÄÂßãÂâçÂØºÂÖ•numpyÂíåpandas**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

#### 1.4.1 ‰ªªÂä°‰∏ÄÔºöpandas‰∏≠Êúâ‰∏§‰∏™Êï∞ÊçÆÁ±ªÂûãDateFrameÂíåSeriesÔºåÈÄöËøáÊü•ÊâæÁÆÄÂçï‰∫ÜËß£‰ªñ‰ª¨„ÄÇÁÑ∂ÂêéËá™Â∑±ÂÜô‰∏Ä‰∏™ÂÖ≥‰∫éËøô‰∏§‰∏™Êï∞ÊçÆÁ±ªÂûãÁöÑÂ∞è‰æãÂ≠êüå∞[ÂºÄÊîæÈ¢ò]

**Series** Áî±Á¥¢ÂºïÔºàindexÔºâÂíåÂàóÁªÑÊàêÔºåÁ±ª‰ººË°®Ê†º‰∏≠ÁöÑ‰∏Ä‰∏™ÂàóÔºàcolumnÔºâÔºåÁ±ª‰ºº‰∫é‰∏ÄÁª¥Êï∞ÁªÑÔºåÂèØ‰ª•‰øùÂ≠ò‰ªª‰ΩïÊï∞ÊçÆÁ±ªÂûã„ÄÇ


ÂÖ∂‰∏≠ÊúÄÂ∏∏Áî®ÁöÑÂ±ûÊÄß‰∏∫ÂÄºÔºàvaluesÔºâÔºåÁ¥¢ÂºïÔºàindexÔºâÔºåÂêçÂ≠óÔºànameÔºâÔºåÁ±ªÂûãÔºàdtypeÔºâ

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
values = [1,2,3,4,5,6]
# indexÂèØ‰ª•ÊåáÂÆö
s = pd.Series(values,index=["1","2","3","4","5","6"],name='ËøôÊòØ‰∏Ä‰∏™Series',dtype="float64")
s

1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
Name: ËøôÊòØ‰∏Ä‰∏™Series, dtype: float64

Êàë‰ª¨‰πüÂèØ‰ª•‰ΩøÁî® key/value ÂØπË±°ÔºåÁ±ª‰ººÂ≠óÂÖ∏Êù•ÂàõÂª∫ Series

In [ ]:
values = {"gzx":100,"wsj":100,"zqy":100,"jjr":100}
s = pd.Series(values)
s

gzx    100
wsj    100
zqy    100
jjr    100
dtype: int64

In [ ]:
'''
#Êàë‰ª¨‰∏æÁöÑ‰æãÂ≠ê
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

**DataFrame** ÊòØ‰∏Ä‰∏™Ë°®Ê†ºÂûãÁöÑÊï∞ÊçÆÁªìÊûÑÔºåÂÆÉÂê´Êúâ‰∏ÄÁªÑÊúâÂ∫èÁöÑÂàóÔºåÊØèÂàóÂèØ‰ª•ÊòØ‰∏çÂêåÁöÑÂÄºÁ±ªÂûãÔºàÊï∞ÂÄº„ÄÅÂ≠óÁ¨¶‰∏≤„ÄÅÂ∏ÉÂ∞îÂûãÂÄºÔºâ„ÄÇDataFrame Êó¢ÊúâË°åÁ¥¢Âºï‰πüÊúâÂàóÁ¥¢ÂºïÔºåÂÆÉÂèØ‰ª•Ë¢´ÁúãÂÅöÁî± Series ÁªÑÊàêÁöÑÂ≠óÂÖ∏ÔºàÂÖ±ÂêåÁî®‰∏Ä‰∏™Á¥¢ÂºïÔºâ„ÄÇ
![1663077020294.png]()

`pandas.DataFrame( data, index, columns, dtype, copy)`

Pandas DataFrame ÊòØ‰∏Ä‰∏™‰∫åÁª¥ÁöÑÊï∞ÁªÑÁªìÊûÑÔºåÁ±ª‰ºº‰∫åÁª¥Êï∞ÁªÑ„ÄÇ

*   dataÔºö‰∏ÄÁªÑÊï∞ÊçÆ(ndarray„ÄÅseries, map, lists, dict Á≠âÁ±ªÂûã)

*   indexÔºöÁ¥¢ÂºïÂÄºÔºåÊàñËÄÖÂèØ‰ª•Áß∞‰∏∫Ë°åÊ†áÁ≠æ„ÄÇ

*   columnsÔºöÂàóÊ†áÁ≠æÔºåÈªòËÆ§‰∏∫ RangeIndex (0, 1, 2, ‚Ä¶, n) „ÄÇ

*   dtypeÔºöÊï∞ÊçÆÁ±ªÂûã

*   copyÔºöÊã∑Ë¥ùÊï∞ÊçÆÔºåÈªòËÆ§‰∏∫ False

In [ ]:
data = [["gzx",100],["wsj",100],["zqy",100],["jjr",100]]
df = pd.DataFrame(data,columns=["ÂêçÂ≠ó","Áé∞Èáë"])
df

    ÂêçÂ≠ó   Áé∞Èáë
0  gzx  100
1  wsj  100
2  zqy  100
3  jjr  100

In [ ]:
'''
#Êàë‰ª¨‰∏æÁöÑ‰æãÂ≠ê
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

#### 1.4.2 ‰ªªÂä°‰∫åÔºöÊ†πÊçÆ‰∏äËäÇËØæÁöÑÊñπÊ≥ïËΩΩÂÖ•"train.csv"Êñá‰ª∂

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
df = pd.read_csv("/content/drive/MyDrive/hands-on-data-analysis-master/Á¨¨‰∏ÄÂçïÂÖÉÈ°πÁõÆÈõÜÂêà/train.csv")

‰πüÂèØ‰ª•Âä†ËΩΩ‰∏ä‰∏ÄËäÇËØæ‰øùÂ≠òÁöÑ"train_chinese.csv"Êñá‰ª∂„ÄÇÈÄöËøáÁøªËØëÁâàtrain_chinese.csvÁÜüÊÇâ‰∫ÜËøô‰∏™Êï∞ÊçÆÈõÜÔºåÁÑ∂ÂêéÊàë‰ª¨ÂØπtrian.csvÊù•ËøõË°åÊìç‰Ωú
#### 1.4.3 ‰ªªÂä°‰∏âÔºöÊü•ÁúãDataFrameÊï∞ÊçÆÁöÑÊØèÂàóÁöÑÂêçÁß∞

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 1.4.4‰ªªÂä°ÂõõÔºöÊü•Áúã"Cabin"ËøôÂàóÁöÑÊâÄÊúâÂÄº[ÊúâÂ§öÁßçÊñπÊ≥ï]

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
df['Cabin'].head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
df.Cabin.head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

#### 1.4.5 ‰ªªÂä°‰∫îÔºöÂä†ËΩΩÊñá‰ª∂"test_1.csv"ÔºåÁÑ∂ÂêéÂØπÊØî"train.csv"ÔºåÁúãÁúãÊúâÂì™‰∫õÂ§öÂá∫ÁöÑÂàóÔºåÁÑ∂ÂêéÂ∞ÜÂ§öÂá∫ÁöÑÂàóÂà†Èô§
ÁªèËøáÊàë‰ª¨ÁöÑËßÇÂØüÂèëÁé∞‰∏Ä‰∏™ÊµãËØïÈõÜtest_1.csvÊúâ‰∏ÄÂàóÊòØÂ§ö‰ΩôÁöÑÔºåÊàë‰ª¨ÈúÄË¶ÅÂ∞ÜËøô‰∏™Â§ö‰ΩôÁöÑÂàóÂà†Âéª

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
test_1 = pd.read_csv('/content/drive/MyDrive/hands-on-data-analysis-master/Á¨¨‰∏ÄÂçïÂÖÉÈ°πÁõÆÈõÜÂêà/test_1.csv')
test_1.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,a
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,100
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,100
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,100

‰ΩøÁî®del, ‰∏ÄÊ¨°Âè™ËÉΩÂà†Èô§‰∏ÄÂàóÔºå‰∏çËÉΩ‰∏ÄÊ¨°Âà†Èô§Â§öÂàóÔºö

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
del test_1["a"]
test_1.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

„ÄêÊÄùËÄÉ„ÄëËøòÊúâÂÖ∂‰ªñÁöÑÂà†Èô§Â§ö‰ΩôÁöÑÂàóÁöÑÊñπÂºèÂêóÔºü

`DataFrame.drop(labels=None,axis=0, index=None, columns=None, inplace=False)`


*   labels Â∞±ÊòØË¶ÅÂà†Èô§ÁöÑË°åÂàóÁöÑÂêçÂ≠óÔºåÁî®ÂàóË°®ÁªôÂÆö
*   axis ÈªòËÆ§‰∏∫0ÔºåÊåáÂà†Èô§Ë°åÔºåÂõ†Ê≠§Âà†Èô§columnsÊó∂Ë¶ÅÊåáÂÆöaxis=1
*   index Áõ¥Êé•ÊåáÂÆöË¶ÅÂà†Èô§ÁöÑË°å
*   columns Áõ¥Êé•ÊåáÂÆöË¶ÅÂà†Èô§ÁöÑË°å
*   inplace=FalseÔºåÈªòËÆ§ËØ•Âà†Èô§Êìç‰Ωú‰∏çÊîπÂèòÂéüÊï∞ÊçÆ

In [ ]:
# ÊÄùËÄÉÂõûÁ≠î
test_1 = test_1.drop(["a"], axis=1, inplace=True)
test_1

#### 1.4.6 ‰ªªÂä°ÂÖ≠Ôºö Â∞Ü['PassengerId','Name','Age','Ticket']ËøôÂá†‰∏™ÂàóÂÖÉÁ¥†ÈöêËóèÔºåÂè™ËßÇÂØüÂÖ∂‰ªñÂá†‰∏™ÂàóÂÖÉÁ¥†

In [ ]:
# ÂÜôÂÖ•‰ª£Á†Å
df.drop(['PassengerId','Name','Age','Ticket'],axis=1,inplace=False).head(3)

   Survived  Pclass     Sex  SibSp  Parch     Fare Cabin Embarked
0         0       3    male      1      0   7.2500   NaN        S
1         1       1  female      1      0  71.2833   C85        C
2         1       3  female      0      0   7.9250   NaN        S

„ÄêÊÄùËÄÉ„ÄëÂØπÊØî‰ªªÂä°‰∫îÂíå‰ªªÂä°ÂÖ≠ÔºåÊòØ‰∏çÊòØ‰ΩøÁî®‰∫Ü‰∏ç‰∏ÄÊ†∑ÁöÑÊñπÊ≥ï(ÂáΩÊï∞)ÔºåÂ¶ÇÊûú‰ΩøÁî®‰∏ÄÊ†∑ÁöÑÂáΩÊï∞Â¶Ç‰ΩïÂÆåÊàê‰∏äÈù¢ÁöÑ‰∏çÂêåÁöÑË¶ÅÊ±ÇÂë¢Ôºü

„ÄêÊÄùËÄÉÂõûÁ≠î„Äë

Â¶ÇÊûúÊÉ≥Ë¶ÅÂÆåÂÖ®ÁöÑÂà†Èô§‰Ω†ÁöÑÊï∞ÊçÆÁªìÊûÑÔºå‰ΩøÁî®inplace=TrueÔºåÂõ†‰∏∫‰ΩøÁî®inplaceÂ∞±Â∞ÜÂéüÊï∞ÊçÆË¶ÜÁõñ‰∫ÜÔºåÊâÄ‰ª•ËøôÈáåÊ≤°ÊúâÁî®

### 1.5 Á≠õÈÄâÁöÑÈÄªËæë

Ë°®Ê†ºÊï∞ÊçÆ‰∏≠ÔºåÊúÄÈáçË¶ÅÁöÑ‰∏Ä‰∏™ÂäüËÉΩÂ∞±ÊòØË¶ÅÂÖ∑ÊúâÂèØÁ≠õÈÄâÁöÑËÉΩÂäõÔºåÈÄâÂá∫ÊàëÊâÄÈúÄË¶ÅÁöÑ‰ø°ÊÅØÔºå‰∏¢ÂºÉÊó†Áî®ÁöÑ‰ø°ÊÅØ„ÄÇ

‰∏ãÈù¢Êàë‰ª¨ËøòÊòØÁî®ÂÆûÊàòÊù•Â≠¶‰π†pandasËøô‰∏™ÂäüËÉΩ„ÄÇ

#### 1.5.1 ‰ªªÂä°‰∏ÄÔºö Êàë‰ª¨‰ª•"Age"‰∏∫Á≠õÈÄâÊù°‰ª∂ÔºåÊòæÁ§∫Âπ¥ÈæÑÂú®10Â≤Å‰ª•‰∏ãÁöÑ‰πòÂÆ¢‰ø°ÊÅØ„ÄÇ

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
df[df["Age"]<10].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C

#### 1.5.2 ‰ªªÂä°‰∫åÔºö ‰ª•"Age"‰∏∫Êù°‰ª∂ÔºåÂ∞ÜÂπ¥ÈæÑÂú®10Â≤Å‰ª•‰∏äÂíå50Â≤Å‰ª•‰∏ãÁöÑ‰πòÂÆ¢‰ø°ÊÅØÊòæÁ§∫Âá∫Êù•ÔºåÂπ∂Â∞ÜËøô‰∏™Êï∞ÊçÆÂëΩÂêç‰∏∫midage

‰ΩøÁî®‰∫§ÈõÜÂíåÂπ∂ÈõÜÊìç‰Ωú

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
midage = df[(df["Age"]<50) & (df["Age"]>10)]
midage.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

„ÄêÊèêÁ§∫„Äë‰∫ÜËß£pandasÁöÑÊù°‰ª∂Á≠õÈÄâÊñπÂºè‰ª•ÂèäÂ¶Ç‰Ωï‰ΩøÁî®‰∫§ÈõÜÂíåÂπ∂ÈõÜÊìç‰Ωú

#### 1.5.3 ‰ªªÂä°‰∏âÔºöÂ∞ÜmidageÁöÑÊï∞ÊçÆ‰∏≠Á¨¨100Ë°åÁöÑ"Pclass"Âíå"Sex"ÁöÑÊï∞ÊçÆÊòæÁ§∫Âá∫Êù•

**data.loc**

data.loc[index,column]

In [ ]:
midage.loc[[100],['Pclass','Sex']]

     Pclass   Sex
100       2  male

„ÄêÊèêÁ§∫„ÄëÂú®ÊäΩÂèñÊï∞ÊçÆ‰∏≠ÔºåÊàë‰ª¨Â∏åÊúõÊï∞ÊçÆÁöÑÁõ∏ÂØπÈ°∫Â∫è‰øùÊåÅ‰∏çÂèòÔºåÁî®‰ªÄ‰πàÂáΩÊï∞ÂèØ‰ª•ËææÂà∞Ëøô‰∏™ÊïàÊûúÂë¢Ôºü

**reset_index()** ÈáçÁΩÆÁ¥¢ÂºïÔºåÂ∞ÜÊóßÁ¥¢ÂºïÊ∑ªÂä†‰∏∫ÂàóÔºåÂπ∂‰ΩøÁî®Êñ∞ÁöÑÈ°∫Â∫èÁ¥¢ÂºïÔºåÂèØ‰ª•‰ΩøÁî®dropÂèÇÊï∞Êù•ÈÅøÂÖçÂ∞ÜÊóßÁ¥¢ÂºïÊ∑ªÂä†‰∏∫Âàó


ÂáΩÊï∞‰∏ªË¶ÅÊúâ‰ª•‰∏ãÂá†‰∏™ÂèÇÊï∞Ôºö
reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
midage = midage.reset_index(drop=True)
midage.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### 1.5.4 ‰ªªÂä°ÂõõÔºö‰ΩøÁî®locÊñπÊ≥ïÂ∞ÜmidageÁöÑÊï∞ÊçÆ‰∏≠Á¨¨100Ôºå105Ôºå108Ë°åÁöÑ"Pclass"Ôºå"Name"Âíå"Sex"ÁöÑÊï∞ÊçÆÊòæÁ§∫Âá∫Êù•

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
midage.loc[[100,105,108],['Pclass','Name','Sex']].head()

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

#### 1.5.5 ‰ªªÂä°‰∫îÔºö‰ΩøÁî®ilocÊñπÊ≥ïÂ∞ÜmidageÁöÑÊï∞ÊçÆ‰∏≠Á¨¨100Ôºå105Ôºå108Ë°åÁöÑ"Pclass"Ôºå"Name"Âíå"Sex"ÁöÑÊï∞ÊçÆÊòæÁ§∫Âá∫Êù•

In [ ]:
#ÂÜôÂÖ•‰ª£Á†Å
midage.iloc[[100,105,108],[2,3,4]]

     Pclass                               Name   Sex
100       2  Byles, Rev. Thomas Roussel Davids  male
105       3           Cribb, Mr. John Hatfield  male
108       3                    Calic, Mr. Jovo  male

„ÄêÊÄùËÄÉ„ÄëÂØπÊØî`iloc`Âíå`loc`ÁöÑÂºÇÂêå


locÂáΩÊï∞‰∏ªË¶ÅÂü∫‰∫éË°åÊ†áÁ≠æÂíåÂàóÊ†áÁ≠æËøõË°åÁ¥¢ÂºïÔºö‰ΩøÁî®locÂáΩÊï∞ÔºåÁ¥¢ÂºïÁöÑÊòØÂ≠óÁ¨¶‰∏≤

ilocÂáΩÊï∞‰∏ªË¶ÅÂü∫‰∫éË°åÁ¥¢ÂºïÂíåÂàóÁ¥¢ÂºïÔºåÂùá‰ªé 0 ÂºÄÂßã„ÄÇilocÂáΩÊï∞Á¥¢ÂºïÁöÑÊï∞ÊçÆÊòØintÊï¥ÂûãÔºåÂõ†Ê≠§ÊòØÈªòËÆ§ÂâçÈó≠ÂêéÂºÄ„ÄÇÂè™ËÉΩËæìÂÖ•Êï∞Â≠óÔºåËæìÂÖ•Â≠óÁ¨¶ÁöÑËØùÊòØ‰ºöÊä•ÈîôÁöÑ„ÄÇ